head {
  font-family: 'Open Sans', sans-serif;
  text-decoration: rgb(231, 76, 60 ) ;
  background-color: rgb(213, 245, 227)
}
body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Publics Sans', sans-serif;
  text-decoration: rgb(0, 0, 238);
  background-color: rgba(41, 128, 185,0.4); 
}

.container {
  margin-left: 20px;
  margin-top: -100px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-bottom: 15px;
  flex-wrap:wrap;
 align-content:flex-start;
 justify-content: center;
 font: size 2rem;;
 font-weight: 700;
 color:rgb(2, 2, 144);
}

.logo {
  width: 200px;
  height: 260px;
  border-radius: 15px;
  margin: 20px;
  padding: 15px; 
 float:inline-start;
}
.logo-container{
margin-top: 5px;
margin-bottom: 5px;
padding-top: 100px;
padding-bottom: 100px;
}

.menu {
  font-size: bold;
  letter-spacing: 2px;
}

#topBtn {
  color: #551A8B;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 36px;
  z-index: 99;
  font-size: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15;
  border-radius: 50%;   
}

#topBtn:hover {    
  transform: scale(1.6);
}

#topBtn span.arrow {
  font-size: 2rem; 
  font-weight: bolder;
  transform: rotate(270deg); 
  display: inline-block; 
  margin-right: 5px; 
  vertical-align: middle; 
  transition: font-size 0.3s ease; 
}

.grid-container {
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 20px; 
    margin: 30px 30px ; 
}

.grid-item {
    background-color: rgba(27, 79, 114,1); 
    border-radius: 20px; 
    text-align: center;
    color:white;
    margin: 5px 15px ;
    padding: 15px;
    position: relative;    
}
@media only screen and (max-width: 1100px) {
  .grid-container {
     grid-template-columns: 1fr;
  }
  .grid-item {
      grid-area: auto;
    }
  }
.grid-item::after {
  content: "";
  position: absolute;
  left: 45%;
  right: 45%;
  bottom: 0;
  border-bottom: 10px dotted rgb(125, 197, 246); 
}
.grid-item a {
  font-size: 2em;
  font-weight: bold;
  color:rgb(0, 0, 238);
}
.year-journal {
  font-style: italic;
  font-size: 1.5rem;

}
.title {
  font-size: 2em;
  line-height: 0.9;
}
.auto {
  font-family: 'Public Sans', sans-serif;
  font-weight: bolder;
}

  h2 {
    font-variant: small-caps;
    font-size: 3rem;
    color: rgb(27,79,114);
  }
  h2 span {
    display: block;
  }
  .navbar{
    display: inline-block;
    margin:10px;
  }
  h3 {
    display:inline-block;
    font-variant: small-caps;
    font-size: 1.5rem;
    color:rgb(0, 0, 238);
  }

.article-link-button {
  display: inline-block;
  padding: 5px 5px;
  font-size: 3rem;
  font-weight:black ;
  text-align: center;
  text-decoration: none;
  background-color: rgb(0, 0, 238);
  color: #000000;
  border-radius: 5px;
  margin-bottom: 20px;  
  transition: background-color 0.3s;
}

p {
  font-size: larger;
  display: block;
      margin-block-start: 0;
      margin-block-end: 5px;  
    }
  .grid-item >h2  {
    color: rgb(242, 242, 246);
    font-size: 3rem;
  }
    
 .h2-letter {
    position: relative;
    display: inline-block;
    color: rgb(27,79,114);
    animation: reveal 0.5s ease-in-out forwards;
}
.h2-underline{
  position: relative;
  display:block;
}

.letter-container {
  position: relative;
}

.letter {
  display: inline-block;
  opacity: 0;
  transform: translateX(-50%); 
}


@keyframes letter1 {
  from {
    opacity: 0;
    transform: translateX(-50%);
    
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes letter2 {
  from {
    opacity: 0;
    transform: translateX(50%);
    
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes letter3 {
  from {
    opacity: 0;
    transform: translateX(50%);
    
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes letter4 {
  from {
    opacity: 0;
    transform: translateX(50%);
    
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes letter5 {
  from {
    opacity: 0;
    transform: translateX(50%);
    
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes letter6 {
  from {
    opacity: 0;
    transform: translateX(50%);
    
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes letter7 {
  from {
    opacity: 0;
    transform: translateX(50%);
    
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes letter8 {
  from {
    opacity: 0;
    transform: translateX(50%);
    
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes letter9 {
  from {
    opacity: 0;
    transform: translateX(50%);
    
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.letter1 {
  animation: letter1 2s ease-in-out infinite 2s;
}
.letter2 {
  animation: letter2 2s ease-in-out infinite 2s; 
}
.letter3 {
  animation: letter3 2s ease-in-out infinite 2s;
}
.letter4 {
  animation: letter4 2s ease-in-out infinite 2s;
}
.letter5 {
  animation: letter5 2s ease-in-out infinite 2s;
}
.letter6 {
  animation: letter6 2s ease-in-out infinite 2s;
}
.letter7 {
  animation: letter7 2s ease-in-out infinite 2s;
}
.letter8 {
  animation: letter8 2s ease-in-out infinite 2s;
}
.letter9 {
  animation: letter9 2s ease-in-out infinite 2s;
}

